.eha-radio-buttons {
  display: inline-block;
  width: 100%;
}

.eha-radio-buttons .btn {
  width: 48%;
  margin-right: 2%;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #95A5A6;
  border: 5px solid #778484;
  position: relative;
  transition: background 0.25s;
  color: #FFFFFF;
  padding: 0.3em;
  word-break: break-word;
  white-space: normal;
}

.eha-radio-buttons .btn:focus {
  outline: none;
}

.eha-radio-buttons .btn.yes.active {
  background-color: #18BC9C;
  border: 5px solid #128F76;
  text-shadow: 0px 0px 10px #0E6957;
  pointer-events: none;
}

.eha-radio-buttons .btn.no.active {
  background-color: #F05645;
  border: 5px solid #D24C3D;
  text-shadow: 0px 0px 10px #71271F;
  pointer-events: none;
}

.eha-radio-buttons .btn + .btn {
  margin-right: 0;
  float: right;
}

.eha-radio-buttons .btn .fa:before {
  margin: 0 0.3em 0 0;
}
